/* live.module.css */

.container {
    padding: 20px;
    text-align: center;
  }
  
  .chartWraper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .chartWraper .chart {
    width: 300px;
    height: 300px;
    margin: 0 10px; /* Abstand zwischen den Charts */
  }

  .dropdown {
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
  }
  
  /* Media Query für mobile Geräte */
  @media (max-width: 768px) {
    .chartWraper {
      flex-direction: column;
      align-items: center;
    }
  
    .chartWraper .chart {
      margin: 10px 0; /* Abstand zwischen den Charts in vertikaler Ausrichtung */
    }
  }
  