.ChartContainer {
  padding: 2% 20% 1% 20%;
}

/* Mobile styling */
@media (max-width: 1050px) {
  .ChartContainer {
    padding: 2% 10% 1% 10%;
  }
}
@media (max-width: 768px) {
  .ChartContainer {
		padding: 2% 10% 1% 10%;
  }
}
